<!DOCTYPE html>
<html>
  <head>
    <title>Treebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <a class="navbar-brand" href="#">
        <img alt="Facebook" src="...">
      </a>
        <ul class="nav nav-pills">
          <li><%= link_to "Home", statuses_path %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
            <%= yield %>
    </div>


  </body>
</html>
